

<div class="dish-form">
<%= form_for @dish do |f| %>
  <%= f.text_field :name, :class => 'form-control', :placeholder => "name" %>
  <%= f.text_field :cost, :class => 'form-control', :placeholder => "cost"%>
  <%= f.text_field :image, :class => 'form-control', :placeholder => "image url"%>
  <%= f.submit 'Save', :class => "btn btn-primary"%>
<% end %>


</div>
