<div class="panel panel-primary">
  <div class="panel-heading"><h1>Details for <%= @dish.name %></h1></div>
  <div class="panel-body">
    <%= image_tag @dish.image, :class => "dish-images" %> <br>
    <h3>Price:</h3> <h4>$<%= @dish.cost %></h4> <br>
    <span class="vote-number">Current Score: <%= @dish.get_likes.size %></span> |
    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <%= link_to "Vote", :upvote => @dish.id %>
    <br>
    <h3>Reviews for <%= @dish.name %>: </h3>
    <% if @dish.reviews.any? %>
      <% @dish.reviews.each do |d| %>
        <div class="col-md-3 review-section">
          <%= d.content %> <small>- Posted: <%= time_ago_in_words(d.created_at) %> ago</small>
          <br>
          <% if current_user.admin? %>
            <%= link_to "Delete Review", dish_review_path(@dish, d),:data => {:confirm => "Are you sure?",:method => "delete"} %>
          <% end %>
        </div>
        <% end %>
      <% end %>
      <br>
      <p id="add-review">
        Click <%= link_to "here", new_dish_review_path(@dish) %> to add a review.
      </p>
    <br>

  </div>

</div>
<% if current_user.admin? %>
  <%= link_to "Edit Dish", edit_dish_path(@dish) %> |
  <%= link_to "Delete Dish", dish_path(@dish),:data => {:confirm => "Are you sure?",:method => "delete"} %>
<% end %>
